extends layout

block content
  div.header
    h1.title Rocks

  div.col
    a.row(href='/rocks') Explore Rocks
    a.row(href='/profile') My Profile


  div.loginfo
    if user
      div.loginfo
        p Hello #{user.first_name}
      div.defaultimg
        img.defaultimg(src= "https://cdn.vectorstock.com/i/preview-1x/70/84/default-avatar-profile-icon-symbol-for-website-vector-46547084.jpg")

  div.fea
    div
