doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav
      div.container
        //ul.nav.main-nav
        //  if user
        //    li.nav-item
        //      a.nav-link(href="#") Hello #{user.first_name}


    div.container
      block content
