body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row {
  background-color: #588daf;
  color: ghostwhite;
  width: 400px;
  border-radius: 0px;
  padding: 10px;
  font-weight: bold;
}

.header {
  background-color: #80a952;
  color: ghostwhite;
  padding: 5px;
  margin-top: -60px;
  margin-left: -60px;
  width: 2500px;
}

.title {
  margin-left: 900px;
  font-family: "Bahnschrift";
}

.articles-header {
  background-color: #5c8393;
  color: ghostwhite;
  padding: 15px;
  margin-top: -60px;
  margin-left: -60px;
  width: 2500px;
  font-size: 30px;
  font-family: "Bahnschrift";
  font-weight: lighter;
}

.dropdowns {
  background-color: #39404d;
  color: ghostwhite;
  padding: 15px;
  margin-top: 0px;
  margin-left: -60px;
  width: 2500px;
  height: 12px;
  font-size: 15px;
  font-family: "Bahnschrift";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.customerservice {
  margin-right: 40px;
  color: ghostwhite;
  text-decoration: none;
}

.contact {
  margin-right: 40px;
  color: ghostwhite;
  text-decoration: none;
}

.goback {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  margin-top: 130px;
  height: 190px;
}

.goback1 {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  margin-top: 100px;
  height: 20px;
  width: 80px;
}

.cardbody {
  height: 360px;
  width: 270px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 60px;
  border-radius: 15px;
  background-color: #f1f1f1;
  border-color: #efeff0;
}

.image {
  margin-bottom: -20px;
  margin-left: -325px;
  height: 200px;
  width: 260px;
  border-radius: 15px;
}

.creator_name{
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bolder;
  font-family: "Bahnschrift";
}

.product_name{
  margin-top: -200px;
  font-size: 20px;
  margin-left: 10px;
  font-family: "Bahnschrift";
  font-weight: bolder;
}

.description{
  margin-top: 5px;
  margin-left: 10px;
}
.form-input {
  padding: 10px;
  align-items: center;
}
input {
  margin-left: 10px;
}
.form-container {
  margin-top: 250px;
}

