extends ../layout

block content
    h1.articles-header Customer Service

    div Contact Us
        div
        div rockbuildercompany@gmail.com
        div or
        div (559) 293-1024
    div __________________________
    a(href="/").goback Go Back