//mixin rockCard(rock)
//    a.card(href=`/rock/${rock.id}`)
//        img.card-image(src=rock.image_url)
//        div.card-body
//            div.card-title=rock.title
//            p.published-on Published
//                strong.emphasize #{rock.friendlyPublishedDate}
//                | by
//                strong.emphasize #{rock.author.first_name}
//            div.card-hook=rock.intro