mixin rockCard(rock, buttonText, saveUrl, cancelUrl, deleteUrl)

    div.form-container
        form(action=saveUrl method='post')

            div.form-input
                label(for='seller') Seller
                input(id='seller' name='seller' value= rock.seller)

            div.form-input
                label(for='product') Product Name
                input(id='product' name='product' value= rock.product)

            div.form-input
                label(for='price') Price (Numbers Only)
                input(id='price' name='price' value= rock.price)

            div.form-input
                label(for='image') Image
                input(id='image' name='image' value= rock.image)

            div.form-input
                label(for='description') Description
                input(id='description' name='description' value= rock.description)

            div.form-input
                label(for='weightvolume') Weight Or Volume
                input(id='weightvolume' name='weightvolume' value= rock.weightvolume)


            div.submit64
                button.submit64(href=cancelUrl) Cancel
                button.submit64(type='submit') Save