extends ../layout

block content
    div.sell Sales:
    img.sale(src= "https://images.squarespace-cdn.com/content/v1/55b6a6dce4b089e11621d3ed/1585087896250-R3GZ6OFWYQRZUJRCJU3D/produce_monthly.png")



    a.goback2(href="/rocks")
        button.gobackbutton Go Back