extends ../layout

block content
    //include ../mixins/rockForm
    div.articles-header
        div.article-header-title Rocks For Sale
        div.

    div.dropdowns
        a(href="service").customerservice Customer Service
        a(href="service").contact Contact


    div.rocksforsale
        button.cardbody
            div.image=rock.image
            div.product_name
            div.creator_name
            div.description


    a(href='/').goback Go Back
