extends ../layout

block content
    //include ../mixins/rockForm
    div.articles-header
        div.article-header-title Rocks For Sale
        div.

    div.dropdowns
        a(href="service").customerservice Customer Service
        a(href="").contact Contact
